*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(43, 3, 3, 0.08));
    /*background-color: ;*/
    /*background-image: linear-gradient(rgba(0,0,50,0.8), rgba(43, 3, 3, 0.08), url(background.png);*/
    background-position: center;
    background-color: cover;
    position: relative;
}

.form-box{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: whitesmoke;
    padding: 50px 50px 30px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}

.imput-field{
    background: #c9aff3;
    margin: 15px, 0;
    border-radius: 100px;
    display: flex;
}

input{
    width: 90%;
    background: transparent;
    border: 0;
    outline: 20px;
    padding: 18px 15px;
    align-items: center;
    max-height: 65px;
    transition: max-hight 0.5s;
    overflow: hidden;
}

.imput-field i{
    margin-left: 15px;
    margin-top: 18px;
}

from p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.button {
    background-color: #3c00a0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }

  .imput-group{
    height: 220px;
  }